server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;

    location /api/ {
        proxy_pass http://${MC_AGENT_HOST}:${MC_AGENT_PORT}/api/;
        proxy_set_header Authorization "Bearer ${MC_AGENT_TOKEN}";
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
